*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/*---------------body---------------------*/
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#154367;
}
.card{
    position: relative;
    width: 400px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1500px);
    box-shadow: 10px 20px 40px rgba(0, 0,0,0.25);
}
.card:hover{
    transform: translateX(50%);
}

/*--------------l'image box ------------------*/
.card .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1 ;
    transform-origin: left;
    transform-style: preserve-3d;
  /*  background: #000;*/
    transition: 1s;
    box-shadow: 10px 20px 40px rgba(0, 0,0,0.25);
}
.card:hover .imgBx:nth-child(1){
    transform: rotateY(-180deg);
}
/*----------------l'image ------------------*/
.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card .imgBx .imgBx:nth-child(2){
    transform: rotateY(180deg);
}

/*------------ contenu -------------*/
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h2{
    text-align: center;
    font-weight: 400;
    line-height: 1rem;
}
.card .details .content span{
    color: #12c2b9;
    font-size: 1rem;
}
/*-------------tic tac toe css -----------------*/
#grid{
    display: grid;
    grid-template-columns: repeat(3,3rem);
    grid-template-rows: repeat(3,3rem);
    gap: 0.5rem;
    margin: 1.5rem auto;
}
.case{
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
p:first-of-type {
    color: #12c2b9;
}